<app-header></app-header>
<main>
    <div class="container">
        <div class="text">
            <p>Trang chủ / Tài khoản / Đăng nhập</p>
        </div>
    </div>
    <div class="banner">
        <img src="assets/img/login.png" alt="">
        <div class="col-lg-6 login">
            <legend>Đăng nhập</legend>
            <form action="">
                <div class="form-group">
                    <input type="email" name="" id="" class="form-control" placeholder="Email"
                        aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <input type="password" name="" id="" class="form-control" placeholder="Mật khẩu"
                        aria-describedby="helpId">
                </div>
                <button type="submit" class="log mb-3">Đăng nhập</button>
                <div class="row gog-fb">
                    <button class="google">Đăng nhập Google</button>
                    <button class="facebook">Đăng nhập Facebook</button>
                </div>
            </form>
            <div class="reg-pass">
                <a href="">Quên mật khẩu? </a>
                <span> hoặc</span>
                <a href=""> Đăng ký</a>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>