<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 logo">
                <img src="assets/img/logo.png" alt="">
            </div>
            <div class="col-lg-6 search">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="">
                </div>
                <div class="icon-search">
                    <button class="btn"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="col-lg-4 ">
                <a href="">
                    <span><i class="fas fa-map-marked-alt map"></i></span>
                    <span class="text1-loca">Hệ thống</span>
                    <span class="text2-loca"> cửa hàng <i class="fas fa-angle-down"></i></span>
                </a>
                <a href="">
                    <span><i class="fas fa-user user"></i></span>
                    <span class="text3-loca">Đăng nhập</span>
                    <span class="text4-loca">Đăng kí <i class="fas fa-angle-down"></i></span>
                </a>
                <a href="cart">
                    <span><i class="fas fa-shopping-cart cart"></i></span>
                    <span class="text5-loca">Giỏ hàng<span class="badge badge-light">{{cart}}</span></span>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="menu">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">Trang chủ</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Giày Nike</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <button class="dropdown-item" type="button">Giày Nike Air Force 1</button>
                <button class="dropdown-item" type="button">Giày Nike Air Jordan 1</button>
                <button class="dropdown-item" type="button">Giày Nike Nữ Chính Hãng</button>
                <button class="dropdown-item" type="button">Giày Nike Nam Chính Hãng</button>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Giày Adidas</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <button class="dropdown-item" type="button">Giày Adidas Nam Chính Hãng</button>
                <button class="dropdown-item" type="button">Giày Adidas Nữ Chính Hãng</button>
                <button class="dropdown-item" type="button">Giày Adidas Stansmith</button>
                <button class="dropdown-item" type="button">Giày Adidas Superstar</button>
                <button class="dropdown-item" type="button">Giày Adidas Ultraboost</button>
                <button class="dropdown-item" type="button">Giày Adidas Forum</button>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Giày MLB</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <button class="dropdown-item" type="button">Giày MLB Mule</button>
                <button class="dropdown-item" type="button">Giày MLB Chunky</button>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Giày Khác</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <button class="dropdown-item" type="button">Giày Puma</button>
                <button class="dropdown-item" type="button">Giày Fila</button>
                <button class="dropdown-item" type="button">Giày Chính Hãng Khác</button>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Quần Áo/ Phụ Kiện</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <button class="dropdown-item" type="button">Túi MLB</button>
                <button class="dropdown-item" type="button">Quần Áo</button>
                <button class="dropdown-item" type="button">Mũ MLB</button>
                <button class="dropdown-item" type="button">Dép</button>
                <button class="dropdown-item" type="button">Phụ Kiện Khác</button>
            </div>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Sale</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Blog</a>
        </li>
    </ul>
</div>