<footer>
    <div class="prefooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="text">
                        <h5>đăng kí nhận tin</h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input">
                        <input type="text" placeholder="Email">
                        <button type="submit">đăng kí</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="social">
                        <ul>
                            <li><a href=""><i class="fa-brands fa-twitter tw"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-tiktok tk"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram ins"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-facebook-f fb"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mt-4 mb-4">
                    <h4>giới thiệu</h4>
                    <p class="text-light">Dee Store chuyên cung cấp, order các loại giày authentic từ các hãng Nike,
                        Adidas, Puma, MLB...
                    </p>
                    <div class="icon">
                        <ul>
                            <li><a href=""><i class="fas fa-map-marker-alt mr-2"></i>Tầng 4 - Số nhà 3, ngách 69, ngõ
                                    117
                                    Thái Hà, Đống Đa, Hà Nội</a></li>
                            <li><a href=""><i class="fas fa-phone-alt mr-2"></i>0848506666</a></li>
                            <li><a href=""><i class="fas fa-envelope mr-2"></i>bydeestore@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 mb-4">
                    <h4>chính sách</h4>
                    <div class="icon-cs">
                        <ul>
                            <li><a href="">Hướng dẫn mua hàng</a></li>
                            <li><a href="">Chính sách đổi trả</a></li>
                            <li><a href="">Chính sách bảo mật</a></li>
                            <li><a href="">Điều khoản dịch vụ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 mb-4">
                    <h4>hướng dẫn</h4>
                    <div class="icon-hd">
                        <ul>
                            <li><a href="">Hướng dẫn order</a></li>
                            <li><a href="">Tất cả sản phẩm</a></li>
                            <li><a href="">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 mb-4">
                    <h4>fanpage chúng tôi</h4>
                    <div class="fanpage">
                        <div class="img-fp">
                            <img src="assets/img/fanpage.jpg" alt="" width="250px" height="150px">
                            <div class="ft">
                                <img src="assets/img/logoft.jpg" alt="">
                                <a href="">Deestore.vn</a><span>26.984 lượt thích</span>
                            </div>
                            <div class="lk row">
                                <div class="like">
                                    <a href=""><i class="fab fa-facebook-square mr-2 fbsq"></i>Thích Trang</a>
                                </div>
                                <div class="share">
                                    <a href=""><i class="fas fa-share mr-2 she"></i>Chia sẻ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="last-footer">
        <p>&copy; Copyright 2022 By Deestore.vn. Powered by Haravan</p>
    </div>
</footer>